.input-group{
        width: 65%;

}body{
    background-color:  #46b7e3 ;
    

}.input-group button:hover{
    color: black;
}
#cloudy {
    width: 244px;
}.pt-5 {
    padding-top: 11rem !important;
}.air{
    width: 29px;
}.pt-5 p{
    padding-left: 40px;
}
#card-imag1{
    width: 103px;
}
#card-imag2{
    width: 103px;
}#card-imag3{
    width: 103px;
}#card-imag4{
    width: 103px;
}#card-imag5{
    width: 103px;
}#card-imag6{
    width: 103px;
}
.bground{
    background-color: #05B2F6;
}
